* text=unset

.git* text eol=lf
*.c text eol=crlf
*.cmd text eol=crlf
*.cpp text eol=crlf
*.csv text eol=crlf
*.h text eol=crlf
*.mm text eol=crlf
*.sh text eol=lf
*.smmx text eol=crlf
*.txt text eol=crlf
*.py text eol=lf
*.ui text eol=lf
*.xml text eol=lf
